<!DOCTYPE html>
<html>
<head>
  <title>Конвертер валют</title>
</head>
<body>
<h1>Конвертер валют</h1>
<form action="/convertCurrency" method="post">
  <input type="number" name="amount" required>
  <select name="fromCurrency" required>
    <option value="USD">USD</option>
    <option value="RUB">RUB</option>
    <option value="EUR">EUR</option>
  </select>
  <span>в</span>
  <select name="toCurrency" required>
    <option value="USD">USD</option>
    <option value="RUB">RUB</option>
    <option value="EUR">EUR</option>
  </select>
  <button type="submit">Конвертировать</button>
</form>
</body>
</html>